// Tokens

// Generate typography classes declared as tokens
@each $token in map-keys($font-scale) {
    .#{$token} {
        @include font-scale($token);
    }
}

[class*="heading"] {
    --font-family: var(--font-family-headings);

    font-family: var(--font-family);
    font-style: $headings-font-style;
    @supports (font-variation-settings: normal) {
        --font-family: var(--font-family-headings-v);
    }
    font-feature-settings: 'ordn' on, 'salt' on, 'ss01' on, 'ss02' on, 'ss03' on;
}

.text-uppercase {
    letter-spacing: .2em;
}
