// Tokens

// Generate typography classes declared as tokens
@each $token in map-keys($font-scale) {
    .#{$token} {
        @include font-scale($token);
    }
}

[class*="heading-"] {
    --font-family: var(--font-family-headings);
    @supports (font-variation-settings: normal) {
        --font-family: var(--font-family-headings-v);
    }

    @extend %heading;
}

.text-uppercase {
    letter-spacing: .2em;
}
