{# General #}
<meta name="title" content="{% if title %}{{ title }}{% else %}{{ site.title }}{% endif %}">
<meta name="description" content="{% if description %}{{ description }}{% else %}{{ site.description }}{% endif %}">
<meta name="author" content="Raz Tirboaca">
<link rel="canonical" href="{{ site.url }}{{ page.url }}">

{# Favicon #}
<link rel="mask-icon" sizes="any" href="{{ '/assets/images/favicon/favicon-192x192-maskable.png' | url }}" color="#ffffff">
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/images/favicon/apple-touch-icon.png' | url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/images/favicon/favicon-16x16.png' | url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/images/favicon/favicon-32x32.png' | url }}">
<link rel="shortcut icon" href="{{ '/assets/images/favicon/favicon.ico' | url }}">
<link rel="manifest" href="{{ '/manifest.json' | url }}" crossorigin="use-credentials">

{# Facebook #}
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:title" content="{% if title %}{{ title }}{% else %}{{ site.title }}{% endif %}">
<meta property="og:description" content="{% if description %}{{ description }}{% else %}{{ site.description }}{% endif %}">
<meta property="og:image" content="{{ site.url }}{% if thumbnail %}{{ thumbnail }}{% else %}{{ site.thumbnail }}{% endif %}">

{# Twitter #}
<meta property="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@makers_mansion">
<meta name="twitter:creator" content="@razvantirboaca">
<meta property="twitter:url" content="{{ site.url }}{{ page.url }}">
<meta property="twitter:title" content="{% if title %}{{ title }}{% else %}{{ site.title }}{% endif %}">
<meta property="twitter:description" content="{% if description %}{{ description }}{% else %}{{ site.description }}{% endif %}">
<meta property="twitter:image" content="{{ site.url }}{% if thumbnail %}{{ thumbnail }}{% else %}{{ site.thumbnail }}{% endif %}">
