// Spacing

$spacer:                rem(4px) !default;
$spacers: (
    space-none:         0,
    space-tiny:         $spacer,
    space-small:        $spacer * 2,
    space-medium:       $spacer * 3,
    space-large:        $spacer * 4,
    space-huge:         $spacer * 6,
    space-gigantic:     $spacer * 16
) !default;

// Breakpoints

$grid-breakpoints: (
    mobile:     0,
    tablet:     700px,
    laptop:     900px,
    desktop:    1200px
) !default;

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints, "$grid-breakpoints");

// Layout
//
// Set the max-width and specify the

$layout: (
    section-padding-x:      $spacer * 6,
    layout-max-width:       rem(1120px)
) !default;

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$row-col:                     12 !default;
$grid-cols:                   6 !default;
$gap-default:                 none !default; // use spacer token

$gaps: $spacers !default;

// Typography

$font-weight-light:     300;
$font-weight-normal:    400;
$font-weight-medium:    600;
$font-weight-bold:      700;

$font-size-root:        null;
$font-weight-base:      $font-weight-normal;
$font-weight-bold-base: $font-weight-medium;
$font-family-base:      -apple-system, blinkmacsystemfont, avenir next, avenir, segoe ui, helvetica neue, helvetica, ubuntu, roboto, noto, arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
$font-family-base-v:    "Amulya Variable", -apple-system, blinkmacsystemfont, avenir next, avenir, segoe ui, helvetica neue, helvetica, ubuntu, roboto, noto, arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;

$headings-font-weight:  $font-weight-medium;
$headings-font-family:  -apple-system, blinkmacsystemfont, avenir next, avenir, segoe ui, helvetica neue, helvetica, ubuntu, roboto, noto, arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
$headings-font-family-v: "Amulya Variable", -apple-system, blinkmacsystemfont, avenir next, avenir, segoe ui, helvetica neue, helvetica, ubuntu, roboto, noto, arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
$headings-font-style:   normal;

$font-family-code:      menlo, consolas, monaco, liberation mono, lucida console, monospace;
$code-font-size:        1em;

// Typo tokens
$font-scale: (
    caption: (
        null: (
            font-size:      13,
            line-height:    16
        )
    ),
    body-small: (
        null: (
            font-size:      16,
            line-height:    24
        )
    ),
    body: (
        null: (
            font-size:      18,
            line-height:    28
        ),
        tablet: (
            font-size:      21,
            line-height:    32
        )
    ),
    heading-small: (
        null: (
            font-size:      20,
            line-height:    24,
            font-weight:    $headings-font-weight
        ),
        tablet: (
            font-size:      24,
            line-height:    28
        )
    ),
    heading-medium: (
        null: (
            font-size:      21,
            line-height:    28,
            font-weight:    $headings-font-weight
        ),
        tablet: (
            font-size:      30,
            line-height:    36
        )
    ),
    heading-large: (
        null: (
            font-size:      80,
            line-height:    72,
            font-weight:    $font-weight-bold
        ),
        tablet: (
            font-size:      152,
            line-height:    144
        )
    )
) !default;

// Colors

$colors: (
    // Neytral
    neutral-0:      hsl(0, 0%, 100%),
    neutral-1000:   hsl(45, 10%, 16%),
    // Primary
    primary-100:    hsl(249, 100%, 96%),
    primary-200:    hsl(249, 90%, 93%),
    primary-300:    hsl(249, 90%, 90%),
    primary-400:    hsl(249, 90%, 68%),
    primary-500:    hsl(249, 70%, 55%),
    primary-600:    hsl(249, 74%, 44%),
    primary-700:    hsl(249, 73%, 34%),
    primary-800:    hsl(249, 76%, 22%),
    primary-900:    hsl(249, 73%, 17%),
    // Accent
    accent-200:     hsl(350, 85%, 95%),
    accent-600:     hsl(350, 85%, 55%),
    // Transparent
    transparent:    transparent
) !default;

$gradients: (
    primary:        linear-gradient(to right bottom, #1a0d63, #190d5e, #180d5a, #170c55, #160c51, #150c4e, #150c4c, #140c49, #140c47, #130b45, #130b44, #130a42)
) !default;

$ui-colors: (
    color-white:          var(--color-neutral-0),
    bg-primary:           var(--gradient-primary),
    bg-subtle:            var(--color-primary-800),
    bg-accent:            var(--color-accent-600),
    text-primary:         var(--color-primary-100),
    text-subtle:          var(--color-primary-400),
    text-muted:           var(--color-primary-600),
    text-accent:          var(--color-accent-600),
    link-color:           var(--text-primary),
    link-border-color:    var(--text-accent),
    text-primary-reverse: var(--color-primary-900),
    divider:              var(--color-primary-300)
) !default;

// Utilities

$enable-important-utilities:    false;

$utilities: () !default;

$utilities: map-merge(
    (
        "display": (
            responsive: true,
            print: true,
            property: display,
            class: d,
            values: flex inline-flex block inline none
        ),
        "flex": (
            responsive: true,
            property: flex,
            values: (fill: 1 1 auto)
        ),
        "flex-direction": (
            responsive: true,
            property: flex-direction,
            class: flex,
            values: row column row-reverse column-reverse
        ),
        "flex-grow": (
            responsive: true,
            property: flex-grow,
            class: flex,
            values: (
                grow-0: 0,
                grow-1: 1,
            )
        ),
        "flex-shrink": (
            responsive: true,
            property: flex-shrink,
            class: flex,
            values: (
                shrink-0: 0,
                shrink-1: 1,
            )
        ),
        "flex-wrap": (
            responsive: true,
            property: flex-wrap,
            class: flex,
            values: wrap nowrap wrap-reverse
        ),
        "gap": (
            responsive: true,
            property: gap,
            class: gap,
            values: $spacers
        ),
        "justify-content": (
            responsive: true,
            property: justify-content,
            values: (
                start: flex-start,
                end: flex-end,
                center: center,
                between: space-between,
                around: space-around,
                evenly: space-evenly,
            )
        ),
        "align-items": (
            responsive: true,
            property: align-items,
            values: (
                start: flex-start,
                end: flex-end,
                center: center,
                baseline: baseline,
                stretch: stretch,
            )
        ),
        "align-content": (
            responsive: true,
            property: align-content,
            values: (
                start: flex-start,
                end: flex-end,
                center: center,
                between: space-between,
                around: space-around,
                stretch: stretch,
            )
        ),
        "align-self": (
            responsive: true,
            property: align-self,
            values: (
                auto: auto,
                start: flex-start,
                end: flex-end,
                center: center,
                baseline: baseline,
                stretch: stretch,
            )
        ),
        "order": (
            responsive: true,
            property: order,
            values: (
                first: -1,
                initial: 0,
                1: 1,
                2: 2,
                3: 3,
                4: 4,
                5: 5,
                last: 6,
            ),
        ),
        "text-align": (
            property: text-align,
            class: text,
            values: center right
        ),
        "text-transform": (
            property: text-transform,
            class: text,
            values: lowercase uppercase capitalize
        ),
        "visibility": (
            property: visibility,
            class: null,
            values: (
                visible: visible,
                invisible: hidden,
            )
        )
    ),
    $utilities
);
