// Spacing

$spacer:                rem(4px) !default;
$spacers: (
    space-none:         0,
    space-tiny:         $spacer,
    space-small:        $spacer * 2,
    space-medium:       $spacer * 3,
    space-large:        $spacer * 4,
    space-huge:         $spacer * 6,
    space-gigantic:     $spacer * 16
) !default;

// Breakpoints

$grid-breakpoints: (
    mobile:     0,
    tablet:     700px,
    laptop:     900px,
    desktop:    1200px
) !default;

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints, "$grid-breakpoints");

// Layout
//
// Set the max-width and specify the

$layout: (
    section-padding-x:      rem(32px),
    layout-max-width:       rem(1120px)
) !default;

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$row-col:                     12 !default;
$grid-cols:                   6 !default;
$gap-default:                 none !default; // use spacer token

$gaps: $spacers !default;

// Typography

$font-weight-light:     300;
$font-weight-regular:    400;
$font-weight-medium:    600;
$font-weight-bold:      700;

$font-size-root:        null;
$font-weight-base:      $font-weight-regular;
$font-weight-bold-base: $font-weight-bold;
$font-family-base:      -apple-system, blinkmacsystemfont, avenir next, avenir, segoe ui, helvetica neue, helvetica, ubuntu, roboto, noto, arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
$font-family-base-v:    -apple-system, blinkmacsystemfont, avenir next, avenir, segoe ui, helvetica neue, helvetica, ubuntu, roboto, noto, arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;

$headings-font-weight:  $font-weight-bold;
$headings-font-family:  -apple-system, blinkmacsystemfont, avenir next, avenir, segoe ui, helvetica neue, helvetica, ubuntu, roboto, noto, arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
$headings-font-family-v: "Amulya Variable", -apple-system, blinkmacsystemfont, avenir next, avenir, segoe ui, helvetica neue, helvetica, ubuntu, roboto, noto, arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
$headings-font-style:   normal;

$font-family-code:      menlo, consolas, monaco, liberation mono, lucida console, monospace;
$code-font-size:        1em;

// Typo tokens
$font-scale: (
    caption: (
        null: (
            font-size:      13,
            line-height:    16
        )
    ),
    body: (
        null: (
            font-size:      16,
            line-height:    24
        ),
        tablet: (
            font-size:      18,
            line-height:    26
        )
    ),
    body-large: (
        null: (
            font-size:      20,
            line-height:    28
        ),
        tablet: (
            font-size:      24,
            line-height:    32
        )
    ),
    heading-small: (
        null: (
            font-size:      20,
            line-height:    24,
            font-weight:    $headings-font-weight
        ),
        tablet: (
            font-size:      24,
            line-height:    28
        )
    ),
    heading-medium: (
        null: (
            font-size:      40,
            line-height:    48,
            font-weight:    $headings-font-weight
        ),
        tablet: (
            font-size:      64,
            line-height:    72
        )
    ),
    heading-large: (
        null: (
            font-size:      66,
            line-height:    64,
            font-weight:    $headings-font-weight
        ),
        tablet: (
            font-size:      144,
            line-height:    136
        )
    )
) !default;

$ui-colors-light: (
    color-white:          var(--color-neutral-0),
    bg-primary:           hsl(0, 0%, 96%),
    bg-subtle:            hsl(0, 0%, 100%),
    bg-accent:            hsl(350, 61%, 48%),
    text-primary:         hsla(211, 45%, 8%, .96),
    text-primary-reverse: hsla(0, 0%, 100%, .96),
    text-subtle:          hsla(211, 45%, 12%, .68),
    text-muted:           hsla(211, 45%, 12%, .12),
    text-accent:          hsl(350, 61%, 48%),
    link-color:           inherit,
    link-border-color:    var(--text-accent),
    divider:              var(--color-primary-300)
) !default;

$ui-colors-dark: (
    color-white:          hsl(0, 0%, 100%),
    bg-primary:           hsl(0, 0%, 8%),
    bg-subtle:            hsl(0, 0%, 12%),
    bg-accent:            hsl(199, 98%, 48%),
    text-primary:         hsla(211, 45%, 98%, .96),
    text-primary-reverse: hsla(0, 0%, 8%, 1),
    text-subtle:          hsla(211, 45%, 98%, .48),
    text-muted:           hsla(211, 45%, 98%, .12),
    text-accent:          hsl(199, 98%, 48%),
    link-color:           inherit,
    link-border-color:    var(--text-accent),
    divider:              var(--color-primary-300)
) !default;

// Utilities

$enable-important-utilities:    false;

$utilities: () !default;

$utilities: map-merge(
    (
        "display": (
            responsive: true,
            print: true,
            property: display,
            class: d,
            values: flex inline-flex block inline none
        ),
        "flex": (
            responsive: true,
            property: flex,
            values: (fill: 1 1 auto)
        ),
        "flex-direction": (
            responsive: true,
            property: flex-direction,
            class: flex,
            values: row column row-reverse column-reverse
        ),
        "flex-grow": (
            responsive: true,
            property: flex-grow,
            class: flex,
            values: (
                grow-0: 0,
                grow-1: 1,
            )
        ),
        "flex-shrink": (
            responsive: true,
            property: flex-shrink,
            class: flex,
            values: (
                shrink-0: 0,
                shrink-1: 1,
            )
        ),
        "flex-wrap": (
            responsive: true,
            property: flex-wrap,
            class: flex,
            values: wrap nowrap wrap-reverse
        ),
        "gap": (
            responsive: true,
            property: gap,
            class: gap,
            values: $spacers
        ),
        "justify-content": (
            responsive: true,
            property: justify-content,
            values: (
                start: flex-start,
                end: flex-end,
                center: center,
                between: space-between,
                around: space-around,
                evenly: space-evenly,
            )
        ),
        "align-items": (
            responsive: true,
            property: align-items,
            values: (
                start: flex-start,
                end: flex-end,
                center: center,
                baseline: baseline,
                stretch: stretch,
            )
        ),
        "align-content": (
            responsive: true,
            property: align-content,
            values: (
                start: flex-start,
                end: flex-end,
                center: center,
                between: space-between,
                around: space-around,
                stretch: stretch,
            )
        ),
        "align-self": (
            responsive: true,
            property: align-self,
            values: (
                auto: auto,
                start: flex-start,
                end: flex-end,
                center: center,
                baseline: baseline,
                stretch: stretch,
            )
        ),
        "order": (
            responsive: true,
            property: order,
            values: (
                first: -1,
                initial: 0,
                1: 1,
                2: 2,
                3: 3,
                4: 4,
                5: 5,
                last: 6,
            ),
        ),
        "text-align": (
            property: text-align,
            class: text,
            values: center right
        ),
        "text-transform": (
            property: text-transform,
            class: text,
            values: lowercase uppercase capitalize
        ),
        "visibility": (
            property: visibility,
            class: null,
            values: (
                visible: visible,
                invisible: hidden,
            )
        )
    ),
    $utilities
);
