// Spacing

$spacer:                rem(4px) !default;
$spacers: (
    space-none:         0,
    space-tiny:         $spacer,
    space-small:        $spacer * 2,
    space-medium:       $spacer * 3,
    space-large:        $spacer * 4,
    space-huge:         $spacer * 6,
    space-gigantic:     $spacer * 8
) !default;

// Breakpoints

$grid-breakpoints: (
    mobile:     0,
    tablet:     600px,
    laptop:     900px,
    desktop:    1200px,
    tv:         1800px
) !default;

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints, "$grid-breakpoints");

// Layout
//
// Set the max-width and specify the

$layout: (
    section-padding-x:      var(--space-gigantic),
    layout-max-width:       rem(1120px)
) !default;

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$row-col:                     12 !default;
$grid-cols:                   6 !default;
$gap-default:                 none !default; // use spacer token

$gaps: $spacers !default;

// Typography

$font-size-root:        null;
$font-weight-base:      400;
$font-family-base:      -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
$font-family-base-v:    'Mulish', -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;


$headings-font-family:  'Satoshi', -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
$headings-font-family-v:'Satoshi Variable', -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
$headings-font-style:   normal;

$font-family-code:      Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
$code-font-size:        1em;

// Typo tokens
$font-scale: (
    caption: (
        null: (
            font-size:      13,
            line-height:    16
        )
    ),
    body-small: (
        null: (
            font-size:      15,
            line-height:    24
        )
    ),
    body: (
        null: (
            font-size:      16,
            line-height:    24
        ),
        tablet: (
            font-size:      18,
            line-height:    28
        )
    ),
    body-large: (
        null: (
            font-size:      18,
            line-height:    28
        ),
        tablet: (
            font-size:      22,
            line-height:    32
        )
    ),
    heading: (
        null: (
            font-size:      18,
            line-height:    24,
            font-weight:    700,
            letter-spacing: -.01em
        ),
        tablet: (
            font-size:      22,
            line-height:    24
        )
    ),
    heading-medium: (
        null: (
            font-size:      21,
            line-height:    28,
            font-weight:    700,
            letter-spacing: -.01em
        ),
        tablet: (
            font-size:      30,
            line-height:    32
        )
    ),
    heading-large: (
        null: (
            font-size:      24,
            line-height:    32,
            font-weight:    900,
            letter-spacing: -.01em
        ),
        tablet: (
            font-size:      32,
            line-height:    40
        ),
        laptop: (
            font-size:      48,
            line-height:    56
        )
    )
) !default;

// Colors

$ui-colors: (
    // Neutrals
    neutral-start:        hsl(0, 0%, 100%),
    neutral-lightest:     hsl(0, 0%, 97%),
    neutral-light:        hsl(0, 0%, 75%),
    neutral-base:         hsl(0, 0%, 42%),
    neutral-dark:         hsl(0, 0%, 20%),
    neutral-darkest:      hsl(0, 0%, 15%),
    neutral-end:          hsl(0, 0%, 12%),
    // Primary
    primary-base:         #ffbd2a,
    // Transparent
    transparent:          transparent
) !default;

$ui-gradients: (
    gradient-primary:     linear-gradient(90deg, #FF4F4F 0%, #BCFF4F 100%),
    gradient-neutral:     linear-gradient(180deg, #171717 0%, #141414 100%),
    gradient-header:      linear-gradient(180deg, hsla(0, 0%, 12%, 1) 0%, hsla(0, 0%, 12%, .8) 30%, hsla(0, 0%, 12%, .6) 45%, hsla(0, 0%, 12%, 0) 100%)
) !default;

// Utilities

$enable-important-utilities:    false;

$utilities: () !default;

$utilities: map-merge(
    (
        "display": (
            responsive: true,
            print: true,
            property: display,
            class: d,
            values: flex inline-flex block inline none
        ),
        "flex": (
            responsive: true,
            property: flex,
            values: (fill: 1 1 auto)
        ),
        "flex-direction": (
            responsive: true,
            property: flex-direction,
            class: flex,
            values: row column row-reverse column-reverse
        ),
        "flex-grow": (
            responsive: true,
            property: flex-grow,
            class: flex,
            values: (
                grow-0: 0,
                grow-1: 1,
            )
        ),
        "flex-shrink": (
            responsive: true,
            property: flex-shrink,
            class: flex,
            values: (
                shrink-0: 0,
                shrink-1: 1,
            )
        ),
        "flex-wrap": (
            responsive: true,
            property: flex-wrap,
            class: flex,
            values: wrap nowrap wrap-reverse
        ),
        "gap": (
            responsive: true,
            property: gap,
            class: gap,
            values: $spacers
        ),
        "justify-content": (
            responsive: true,
            property: justify-content,
            values: (
                start: flex-start,
                end: flex-end,
                center: center,
                between: space-between,
                around: space-around,
                evenly: space-evenly,
            )
        ),
        "align-items": (
            responsive: true,
            property: align-items,
            values: (
                start: flex-start,
                end: flex-end,
                center: center,
                baseline: baseline,
                stretch: stretch,
            )
        ),
        "align-content": (
            responsive: true,
            property: align-content,
            values: (
                start: flex-start,
                end: flex-end,
                center: center,
                between: space-between,
                around: space-around,
                stretch: stretch,
            )
        ),
        "align-self": (
            responsive: true,
            property: align-self,
            values: (
                auto: auto,
                start: flex-start,
                end: flex-end,
                center: center,
                baseline: baseline,
                stretch: stretch,
            )
        ),
        "order": (
            responsive: true,
            property: order,
            values: (
                first: -1,
                initial: 0,
                1: 1,
                2: 2,
                3: 3,
                4: 4,
                5: 5,
                last: 6,
            ),
        ),
        "text-align": (
            property: text-align,
            class: text,
            values: center right
        ),
        "text-transform": (
            property: text-transform,
            class: text,
            values: lowercase uppercase capitalize
        ),
        "visibility": (
            property: visibility,
            class: null,
            values: (
                visible: visible,
                invisible: hidden,
            )
        )
    ),
    $utilities
);

