.article {
    --flow-t: #{rem(40px)};
    --flow-b: var(--space-huge);

    [class*="heading"]:not(.section-title) {
        --margin-t: var(--flow-t);
        --margin-b: var(--flow-b);

        margin-top: var(--margin-t);
    }

    .gallery {

        margin-top: var(--flow-b);
        margin-bottom: var(--flow-b);

        @media (min-width: layout(layout-max-width)) {
            margin-top: var(--flow-t);
            margin-bottom: var(--flow-t);
        }

    }

    @include media-breakpoint-up(tablet) {
        --flow-t: #{rem(64px)};
        --flow-b: #{rem(40px)};
    }
}
