.article {
    --margin-t: 2em;
    --margin-b: 2em;

    [class*="heading-"] {
        --margin-b: .5em;

        margin-top: var(--margin-t);

        &:first-child {
            --margin-t: var(--space-none);
        }
    }

    .gallery {

        margin-top: var(--margin-b);
        margin-bottom: var(--margin-b);

        @media (min-width: layout(layout-max-width)) {
            margin-top: var(--margin-t);
            margin-bottom: var(--margin-t);
        }
    }
}
