.section {
    --padding-t: #{rem(56px)};
    --padding-b: #{rem(56px)};

    width: 100%;
    max-width: 100%;
    padding: var(--padding-t) var(--section-padding-x) var(--padding-b);

    @include media-breakpoint-up(laptop) {
        --padding-t: #{rem(80px)};
        --padding-b: #{rem(80px)};
    }
}

.layout {
    max-width: var(--layout-max-width);
    margin-right: auto;
    margin-left: auto;
}

.layout-narrow {

    &.centered {
        margin-right: auto;
        margin-left: auto;
    }

    @include media-breakpoint-up(tablet) {
        --layout-narrow-max-width: calc(100% / 12 * 10);

        max-width: var(--layout-narrow-max-width);
    }

    @include media-breakpoint-up(laptop) {
        --layout-narrow-max-width: calc(var(--layout-max-width) / 12 * 7);
    }

    @media (min-width: layout(layout-max-width)) {
        .gallery-wide {
            margin-right: calc((var(--layout-max-width) - var(--layout-narrow-max-width)) / 2 * -1);
            margin-left: calc((var(--layout-max-width) - var(--layout-narrow-max-width)) / 2 * -1);
        }
    }
}
