.section {
    --padding-y: #{rem(80px)};

    padding: var(--padding-y) var(--section-padding-x);
}

@include media-breakpoint-up(laptop) {

    .section {
        --padding-y: #{rem(120px)};
    }
}
