<!DOCTYPE html>
<html {{ site.lang }}} class="h-full bg-neutral-strong bg-fixed text-neutral-medium font-medium">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if title %}{{ title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="title" content="{% if title %}{{ title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}">
    <meta name="description" content="{% if description %}{{ description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="theme-color" content="#090c07">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | url }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Figtree:wght@500;700&display=swap" rel="stylesheet">
    <script src="{{ '/assets/scripts/main.js' | url }}" defer></script>
    {% include 'meta.njk' %}
    {% include 'analytics.njk' %}
</head>
<body class="antialiased h-full flex flex-col">

    {{ content | safe }}

</body>
</html>