<!DOCTYPE html>
<html lang="{{ site.lang }}" class="h-full">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% if title %}{{ title }}
      {% else %}{{ site.title }}
      {% endif %}
    </title>
    <meta name="color-scheme" content="light">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | url }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Figtree:wght@400;700;900&display=swap" rel="stylesheet">
    {% include 'meta.njk' %}
  </head>
  <body class="antialiased h-full flex flex-col bg-white text-gray-900">

    {{ content | safe }}

    {% include 'analytics.njk' %}

  </body>
</html>