.btn-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: -6px;

    .btn {
        margin: 6px;
    }
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 10px;
    max-width: 100%;
    min-height: 24px;
    padding: 9px 15px;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 20px;
    line-height: 2rem;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    color: $color-text-primary;
    background: transparent;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    
    &:hover {
        color: $color-text-primary;
    }

    > svg {
        width: 20px;
        height: 20px;
        margin-left: -2px;

        &:only-child {
            margin-left: 0;
        }
    }

    > svg + span,
    > span + svg,
    svg + b,
    > b + svg {
        margin-left: 5px;
    }

    &.btn-primary {
    background: $color-primary;
    border-color: $color-primary;
    color: white;
    
        &:hover {
            background: darken($color-primary, 6%);
            border-color: darken($color-primary, 6%);
            color: white;
        }

        &.btn--outline {
            background: transparent;
            border-color: lighten($color-primary, 6%);
            color: $color-primary;

            &:hover {
                color: darken($color-primary, 6%);
            }
        }
    }

    &.btn--badge {
        padding: 0;
        border: none;
    }
}