.btn-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: -6px;

    .btn {
        margin: 6px;
    }
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 10px;
    max-width: 100%;
    min-height: 24px;
    padding: 7px 15px;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 24px;
    line-height: 2.4rem;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    background: $color-primary;
    border: 1px solid $color-primary;
    color: white;
    border-radius: 4px;
    
    &:hover {
        background: darken($color-primary, 6%);
        border-color: darken($color-primary, 6%);
        color: white;
    }

    > svg {
        width: 24px;
        height: 24px;
        margin-left: -2px;

        &:only-child {
            margin-left: 0;
        }
    }

    > svg + span,
    > span + svg,
    svg + b,
    > b + svg {
        margin-left: 5px;
    }

    &.btn--outline {
        background: transparent;
        border-color: lighten($color-primary, 12%);
        color: $color-primary;

        &:hover {
            color: darken($color-primary, 6%);
        }
    }

    &.btn--badge {
        padding: 0;
        border: none;
    }
}