/*----------  Companies  ----------*/

.companies {
    margin-bottom: 30px;

    li:before {
        display: none;
    }
}

.figure-logo {
    padding: 16px;
    background: $color-gray-lighter;
    border-radius: 4px;

    img {
        max-height: 100px;
        margin: 0 auto;
        filter: grayscale(100%);
        opacity: .66;
        transition: all .2s ease;
    }

    &:hover img {
        filter: none;
        opacity: 1;
    }
}

/*----------  App icons  ----------*/

.figure-icon-app {
    overflow: hidden;
    width: 72px;
    height: 72px;
    border-radius: 16px;
    @media all and (min-width: $size-md) {
        width: 88px;
        height: 88px;
    }

    img {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    &:after {
        z-index: 2;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 18px;
        box-shadow: inset 0 0 0 1px rgba(black, .098);
    }
}

.screenshots {
    font-size: 0;
    margin: 20px -40px 20px -68px;
    padding: 4px 40px 4px 68px;
    white-space: nowrap;
    overflow: auto;

    @media all and (max-width: $size-md - 1px) {
        &::-webkit-scrollbar {
            display: none;
        }
    }

    @media all and (min-width: $size-md) {
        margin: 20px 0;
        padding: 4px 4px 12px;

        &::-webkit-scrollbar {
            width: 10px;
            height: 10px;
        }

        &::-webkit-scrollbar-track {
            background: $color-gray-light;
            border-radius: 50px;
        }

        &::-webkit-scrollbar-thumb {
            background: darken($color-gray-light, 6%);
            border-radius: 50px;
        }
    }

    figure {
        margin-right: 16px;
        display: inline-block;

        > a > img {
            max-width: none;
            height: 262px;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

.figure-screenshot {
    padding: 6px;
    background: white;
    box-shadow: 0 1px 3px 1px rgba($color-gray, .55);

    img {
        margin: 0 auto;
    }
}

.figure-video {
    margin-top: 16px;
    padding: 6px;
    background: black;
    box-shadow: 0 1px 3px 1px rgba($color-gray, .55);

    .figure-video-player {
        position: relative;

        &:before {
            content: '';
            display: block;
            width: 100%;
            padding-top: 56.25%;
        }

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 0;
        }
    }

    .figure-video-title {
        margin-top: 6px;
        text-align: center;
        color: $color-text-hint;
    }
}