header {
    overflow: hidden;
    @media all and (min-width: $container-width) {
        border-radius: 8px;
    }

    .img {
        width: 100%;
    }

    .header-caption {
        position: absolute;
        left: 40px;
        bottom: 20%;
        padding: 8px;
        background: $color-background-header-text;
        color: white;
        text-shadow: 0 1px 1px rgba(black, .1);
    }
}

.contact-bar {
    z-index: 3;
    display: flex;
    align-items: center;
    top: 0;
    width: 100%;
    max-width: $container-width;
    height: 68px;
    padding: 0 16px;
    background: white;
    opacity: .01;
    transition: all .2s ease-in;
    @media all and (min-width: $size-md) {
        padding: 0 40px;
    }

    &.is-sticky {
        opacity: .96;
        box-shadow: 0 1px 0 rgba(black, .058);
        transition: all .2s ease-out 1s;
    }

    .content-title {
        flex: 1;
        margin: 0;
    }

    @media all and (max-width: $size-sm - 1px) {
        .btn { 

            svg {
                margin: 0;
            }

            b {
                position: absolute !important;
                top: -9999px !important;
                left: -9999px !important;
            }
        }
    }
}

.sticky-wrap + * {
    margin-top: -64px;
}