body {
    background: $color-background;
    scroll-behavior: smooth;
}

article {
    max-width: $container-width;
    margin-left: auto;
    margin-right: auto;
    background: white;
    @media all and (min-width: $container-width) {
        padding: 40px 0;
    }
}

header {
    position: relative;
}

section {
    padding: 0 40px;
}

footer {
    padding: 40px;
    text-align: center;
}