body {
    background: $color-background;
}

article {
    max-width: $container-width;
    margin-left: auto;
    margin-right: auto;
    background: white;
    @media all and (min-width: $container-width) {
        margin: 40px auto;
    }
}

header {
    position: relative;
}

section {
    padding: 0 40px;
}

footer {
    padding: 40px;
    text-align: center;
}

/*----------  Scrollbar  ----------*/

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: $color-gray-light;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb {
    background: darken($color-gray-light, 6%);
    border-radius: 50px;
}