ul,
ol {
    margin-left: 25px;

    li {
        margin-bottom: .1em;
    }
}

ul {
    list-style: none;

    li {
        position: relative;

        &:before {
            content: '';
            position: absolute;
            width: 5px;
            height: 5px;
            background: $color-gray;
            border-radius: 50%;
            left: -22px;
            top: 9px;
        }
    }
}

.list {
    margin-left: 0;

    li {
        display: block;

        &:before {
            display: none;
        }
    }
}

dl {
    overflow: hidden;
    border-width: 1px 2px 2px;
    border-style: solid;
    border-color: $color-border;
    border-radius: 4px;

    dt,
    dd {
        float: left;
        padding: 8px 6px 8px 12px;
        border-top: 1px solid $color-border;
        white-space: nowrap;
    }

    dt {
        width: 30%;
    }

    dd {
        width: 70%;
        background: $color-gray-lighter;
    }
}