.tags {
    list-style: none;
    margin-left: 0;
    margin-bottom: 30px;

    li {
        display: inline-block;
        margin: 0 4px 10px 0;
        padding: 3px 16px;
        border: 2px solid $color-border;
        border-radius: 100px; 
    }
}