@font-face {
    font-weight: 300 700;
    font-family: "Amulya Variable";
    font-style: normal;
    src:
        url("../assets/fonts/amulya/Amulya-Variable.woff2") format("woff2 supports variations"),
        url("../assets/fonts/amulya/Amulya-Variable.woff2") format("woff2-variations"),
        url("../assets/fonts/amulya/Amulya-Variable.woff") format("woff supports variations"),
        url("../assets/fonts/amulya/Amulya-Variable.woff") format("woff-variations"),
        url("../assets/fonts/amulya/Amulya-Variable.ttf") format("truetype supports variations"),
        url("../assets/fonts/amulya/Amulya-Variable.ttf") format("truetype-variations");
    font-display: swap;
}

@font-face {
    font-weight: 300 700;
    font-family: "Amulya Variable";
    font-style: italic;
    src:
        url("../assets/fonts/amulya/Amulya-VariableItalic.woff2") format("woff2 supports variations"),
        url("../assets/fonts/amulya/Amulya-VariableItalic.woff2") format("woff2-variations"),
        url("../assets/fonts/amulya/Amulya-VariableItalic.woff") format("woff supports variations"),
        url("../assets/fonts/amulya/Amulya-VariableItalic.woff") format("woff-variations"),
        url("../assets/fonts/amulya/Amulya-VariableItalic.ttf") format("truetype supports variations"),
        url("../assets/fonts/amulya/Amulya-VariableItalic.ttf") format("truetype-variations");
    font-display: swap;
}

@font-face {
    font-weight: 300 700;
    font-family: "Satoshi Variable";
    font-style: normal;
    src:
        url("../assets/fonts/satoshi/Satoshi-Variable.woff2") format("woff2 supports variations"),
        url("../assets/fonts/satoshi/Satoshi-Variable.woff2") format("woff2-variations"),
        url("../assets/fonts/satoshi/Satoshi-Variable.woff") format("woff supports variations"),
        url("../assets/fonts/satoshi/Satoshi-Variable.woff") format("woff-variations"),
        url("../assets/fonts/satoshi/Satoshi-Variable.ttf") format("truetype supports variations"),
        url("../assets/fonts/satoshi/Satoshi-Variable.ttf") format("truetype-variations");
    font-display: swap;
}
