*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    --font-family: var(--font-family-base);
    @supports (font-variation-settings: normal) {
        --font-family: var(--font-family-base-v);
    }

    @include font-scale(body);
    margin: 0;
    font-weight: $font-weight-base;
    font-family: var(--font-family);
    text-align: left;
    text-rendering: optimizeLegibility;
    background: var(--bg-primary);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-attachment: fixed;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:focus,
:focus-visible {
    outline: 0 !important;
}

:focus-visible {
    --focus-box-shadow: 0 0 0 3px var(--color-neutral-end), 0 0 0 4px var(--color-neutral-lightest);

    border-radius: 2px;
    box-shadow: var(--focus-box-shadow);
}

hr {

    height: 1px;
    margin: 0;
    background-color: currentColor;
    border: 0;
}

%heading {
    --font-family: var(--font-family-headings);
    @supports (font-variation-settings: normal) {
        --font-family: var(--font-family-headings-v);
    }

    margin-top: 0;
    margin-bottom: var(--margin-b);
    font-weight: $headings-font-weight;
    font-family: var(--font-family);
    font-style: $headings-font-style;
}

h1 {
    @extend %heading;
    @include font-scale(heading-large);
}

h2 {
    @extend %heading;
    @include font-scale(heading-medium);
}

h3 {
    @extend %heading;
    @include font-scale(heading-small);
}

h4 {
    @extend %heading;
    @include font-scale(body);
}

h5 {
    @extend %heading;
}

h6 {
    @extend %heading;
}

p {
    margin-top: 0;
    margin-bottom: var(--margin-b);
}

abbr[title],
abbr[data-bs-original-title] {
    text-decoration: underline;
    text-decoration: underline dotted;
    cursor: help; // 3
    text-decoration-skip-ink: none;
}

address {
    --margin-b: var(--space-large);

    margin-bottom: var(--margin-b);
    font-style: normal;
    line-height: inherit;
}

ol,
ul {
    --padding-l: var(--space-gigantic);

    padding-left: var(--padding-l);
}

ol,
ul,
dl {
    --margin-b: var(--space-large);

    margin-top: 0;
    margin-bottom: var(--margin-b);
}

ol ol,
ul ul,
ol ul,
ul ol {
    --margin-b: 0;
}

blockquote {
    --margin-b: var(--space-large);

    margin: 0 0 var(--margin-b);
}

b,
strong {
    font-weight: $font-weight-bold-base;
}

small {
    font-size: .75;
    line-height: 1;
}

// Sub and Sup
//
// Prevent `sub` and `sup` elements from affecting the line height in
// all browsers.

sub,
sup {
    position: relative;
    font-size: .75;
    line-height: 0;
    vertical-align: baseline;
}

sub { bottom: -.25em; }
sup { top: -.5em; }

// Links

a {
    --color: var(--link-color);
    --border-color: var(--link-border-color);
    --hover-color: var(--color);
    --hover-border-color: var(--text-muted);

    color: var(--color);
    text-decoration-color: var(--border-color);
    text-underline-offset: 1px;
    transition: color .15s ease-in, text-decoration-color .15s ease-in;

    &:hover {
        color: var(--hover-color);
        text-decoration-color: var(--hover-border-color);
    }

    &.decoration-none {
        text-decoration: none;
    }
}

a:not([href]):not([class]) {
    &,
    &:hover {
        --color: var(--);
    }
}

// Code

pre,
code,
kbd,
samp {
    font-size: 1em;
    font-family: $font-family-code;
}

pre {
    --margin-bottom: var(--space-large);
    --color: var(--pre-color);
    --bg: var(--pre-bg);

    display: block;
    margin-top: 0;
    margin-bottom: var(--margin-bottom);
    overflow: auto;
    color: var(--color);
    font-size: $code-font-size;
    background: var(--bg);

    // Account for some code outputs that place code tags in pre tags
    code {
        color: inherit;
        font-size: inherit;
        word-break: normal;
    }
}

code {
    --color: var(--code-color);

    color: var(--color);
    font-size: $code-font-size;
    word-wrap: break-word;

    a > & {
        color: inherit;
    }
}

figure {
    --margin-bottom: 0;

    margin: 0 0 var(--margin-bottom);
}

img,
svg {
    vertical-align: middle;
}

table {
    font-size: inherit;
    caption-side: bottom;
    border-collapse: collapse;
}

caption {
    --color: var(--color-neutral-base);

    color: var(--color);
    text-align: left;
}

th {
    font-weight: $font-weight-bold;
    text-align: inherit;
    text-align: -webkit-match-parent;
}

thead,
tbody,
tfoot,
tr,
td,
th {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}

label {
    display: inline-block;
}

button {
    border-radius: 0;
}

input,
button,
select,
optgroup,
textarea {
    margin: 0;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
}

button,
select {
    text-transform: none;
}

[role="button"] {
    cursor: pointer;
}

select {
    word-wrap: normal;
}

[list]::-webkit-calendar-picker-indicator {
    display: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    &:not(:disabled) {
        cursor: pointer;
    }
}

::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

textarea {
    resize: vertical;
}

fieldset {
    min-width: 0;
    margin: 0;
    padding: 0;
    border: 0;
}

legend {
    --margin-bottom: var(--spacer-large);

    float: left;
    width: 100%;
    margin-bottom: var(--margin-bottom);
    padding: 0;
    line-height: inherit;

    + * {
        clear: left;
    }
}

::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
    padding: 0;
}

::-webkit-inner-spin-button {
    height: auto;
}

[type="search"] {
    outline-offset: -2px;
    -webkit-appearance: textfield;
}

::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-color-swatch-wrapper {
    padding: 0;
}

::file-selector-button {
    font: inherit;
}

::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button;
}

output {
    display: inline-block;
}

iframe {
    border: 0;
}

summary {
    display: list-item;
    cursor: pointer;
}

progress {
    vertical-align: baseline;
}

[hidden] {
    display: none !important;
}
