:root {
    font-size: $font-size-root;
    --font-family-base: #{$font-family-base};
    --font-family-base-v: #{$font-family-base-v};
    --font-family-headings: #{$headings-font-family};
    --font-family-headings-v: #{$headings-font-family-v};

    // Colors
    @each $name, $color in $ui-colors {
        --color-#{$name}: #{$color};
    }

    // Gradients
    @each $name, $color in $ui-gradients {
        --color-#{$name}: #{$color};
    }

    // Spacers
    @each $name, $value in $spacers {
        --#{$name}: #{$value};
    }
}
