:root {
    --font-family-base: #{$font-family-base};
    --font-family-base-v: #{$font-family-base-v};
    --font-family-headings: #{$headings-font-family};
    --font-family-headings-v: #{$headings-font-family-v};

    // Spacers
    @each $name, $value in $spacers {
        --#{$name}: #{$value};
    }

    // Layout
    @each $name, $value in $layout {
        --#{$name}: #{$value};
    }

    font-size: $font-size-root;
}

// Define themes
//
// Light theme
.theme-light {
    @each $name, $color in $ui-colors-light {
        --#{$name}: #{$color};
    }
}
// Dark theme
.theme-dark {
    @each $name, $color in $ui-colors-dark {
        --#{$name}: #{$color};
    }
}
