.case {
    position: relative;
    display: block;
    margin: 32px -32px 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
    @media all and (min-width: $size-md) {
        overflow: hidden;
        margin: 64px auto 0;
        border-radius: 3px;
    }
    border: none;

    &__body {
        z-index: 1;
        position: relative;
        padding: 48px;

        .case__title {
            color: inherit;
            margin-bottom: 0.4em;
        }

        .case__action {
            margin-bottom: 0;
        }
    }

    &__figure {
        z-index: 0;
        position: absolute;
        opacity: 0.2;
        @media all and (min-width: $size-md) {
            opacity: 1;
        }
    }
}

.giftcard {
    &.case {
        color: white;

        a {
            color: white;
        }

        .case__description,
        .case__action {
            @media all and (min-width: $size-md) {
                padding-right: 40%;
            }
        }

        .case__figure {
            right: -40px;
            bottom: 0;
            max-width: 260px;
            @media all and (min-width: $size-md) {
                max-width: 340px;
            }
        }
    }

    .hero {
        color: white;

        &__description {
            @media all and (min-width: $size-md) {
                padding-right: 22vw;
            }
            @media all and (min-width: $size-lg) {
                padding-right: 30%;
            }
        }

        &__figure {
            display: none;
            @media all and (min-width: $size-md) {
                display: block;
                position: absolute;
                bottom: 0;
                right: 0;
                width: 44%;
                max-width: 500px;
            }
        }
    }

    .insight {
        color: white;
    }

    &.case,
    .hero,
    .insight {
        background-color: $color-giftcard;
    }
}

.cinema {
    &.case {
        color: white;

        a {
            color: white;
        }

        .case__figure {
            right: 0;
            bottom: 0;
            max-width: 350px;
            @media all and (min-width: $size-md) {
                max-width: 410px;
            }
            @media all and (min-width: $size-xl) {
                max-width: 430px;
            }
        }

        .case__description,
        .case__action {
            @media all and (min-width: $size-md) {
                padding-right: 44%;
            }
        }
    }

    .hero {
        color: white;

        &__description {
            @media all and (min-width: $size-md) {
                padding-right: 28vw;
            }
            @media all and (min-width: $size-lg) {
                padding-right: 30%;
            }
        }

        &__figure {
            display: none;
            @media all and (min-width: $size-md) {
                display: block;
                position: absolute;
                bottom: 0;
                right: 0;
                width: 50%;
                max-width: 600px;
            }
        }
    }

    .insight {
        color: white;
    }

    &.case,
    .hero,
    .insight {
        background: $color-cinema;
    }
}
