html,
body {
    min-height: 100vh;
}

body {
    background-color: $color-background;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.appbar,
.header {
    height: 56px;
    @media all and (min-width: $size-md) {
        height: 64px;
    }
}

.appmain {
}

.appfooter {
    padding: 32px 16px;
    text-align: center;
}

.section {
    padding: 72px 0;

    &__title {
        margin-bottom: 32px;

        &--xl {
            margin-bottom: 64px;
        }
    }
    @media all and (min-width: $size-lg) {
        padding: 96px 0;

        &__title--xl {
            margin-bottom: 128px;
        }
    }
}

.article {
    &__figure {
        max-width: $figure-width-fill;
        margin-left: auto;
        margin-right: auto;
        margin-top: 4em;
        &:not(:last-child) {
            margin-bottom: 4em;
        }

        &--fill {
            width: 100%;
        }

        &--gray {
            margin-left: -16px;
            margin-right: -16px;
            padding: 32px;
            background: $color-gray-light;
            @media all and (min-width: $size-lg) {
                margin-left: -4em;
                margin-right: -4em;
                padding: 4em;
            }
        }

        figcaption {
            margin-top: 12px;
            text-align: center;
        }
    }

    .insights {
        margin-bottom: 3em;
    }
}
