$font-stack: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$primary-dark: #142032;
$primary-light: #546989;
$primary: #108996;
$secondary: #F8922E;
$gray-light: #bdbdbd;
$gray-dark: #797a7b;
$dark: #333;
$green-light: #d9f7a0;
$green-dark: #4a5f22;
$red-dark: #D34141;
$link: #DF1D3C;
$link-hover: darken($link, 12%);

/*==========  Social media colors  ==========*/

$fb: #2F4D8B;
$tt: #55acee;
$gg: #dd4b39;
$wa: #4dc247;

/*==========  Sizes  ==========*/

$xs-size: 440px;
$sm-size: 768px;
$md-size: 1024px;
$lg-size: 1270px;