@keyframes fadeInUp {
    from {
        opacity: .01;
        transform: translate3d(0, 300%, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.animate-fadeinup {
    animation: fadeInUp 1s ease-out;
    animation-fill-mode: both;
}