.btn-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: -4px;

    .btn {
        margin: 4px;
    }
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 10px;
    max-width: 100%;
    min-height: 20px;
    padding: 1em 1.5em;
    font-size: 1.4rem;
    line-height: 1.5em;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    background: $color-primary;
    border: 1px solid $color-primary;
    color: white;
    border-radius: 4px;
    @media all and (min-width: $size-md) {
        font-size: 1.6rem;
    }
    @media all and (min-width: $size-lg) {
        &:hover {
            background: darken($color-primary, 6%);
            border-color: darken($color-primary, 6%);
            color: white;
        }
    }

    > svg {
        width: 1.5em;
        height: 1.5em;
        margin-left: -2px;

        &:only-child {
            margin-left: 0;
        }

        & + * {
            flex: 1;
            min-width: 0;
        }
    }

    &:not(.btn--block) {

        > svg + span,
        > span + svg,
        svg + b,
        > b + svg {
            margin-left: .5em;
        }
    }

    &--outline {
        color: $color-primary;
        background: transparent;
        border-color: $color-primary;
        @media all and (min-width: $size-lg) {
            &:hover {
                color: white;
                background: darken($color-primary, 6%);
                border-color: darken($color-primary, 6%);
            }
        }
    }

    &--sm {
        padding: .6em 1em;
        font-size: 1.4rem;
    }

    &--block {
        width: 100%;
    }

    &--badge {
        padding: 0;
        background: none !important;
        border: none;

        img {
            height: 51px;
            @media all and (min-width: $size-md) {
                height: 58px;
            }
        }
    }
}