.btn-group {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;

    .btn {
        margin-right: 4px;
        margin-bottom: 4px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 10px;
    max-width: 100%;
    min-height: 24px;
    padding: .83em 1.2em;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2.4rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    color: white;
    background: $color-primary;
    border: 2px solid $color-primary;
    border-radius: 5px;
    transition: all .2s ease-in-out;
    @media all and (min-width: $size-lg) {
        padding: 1em 1.3em;

        &:hover {
            color: white;
            background: darken($color-primary, 6%);
            border-color: darken($color-primary, 6%);
        }
    }

    > svg {
        width: 2.4rem;
        height: 2.4rem;
        margin-left: -2px;

        &:only-child {
            margin-left: 0;
        }

        & + * {
            flex: 1;
            min-width: 0;
        }
    }

    > * + * {
        margin-left: .5em;
    }

    &--outline {
        color: $color-primary;
        background: transparent;
        border-color: $color-primary;
        @media all and (min-width: $size-lg) {
            &:hover {
                color: darken($color-primary, 6%);
                background: transparent;
                border-color: darken($color-primary, 6%);
            }
        }
    }

    &--link {
        color: inherit;
        background: transparent;
        border-color: transparent;
        @media all and (min-width: $size-lg) {
            &:hover {
                color: inherit;
                background: transparent;
                border-color: transparent;
            }
        }
    }

    &--sm {
        padding: .4em .6em;
        @media all and (min-width: $size-lg) {
            padding: .7em 1em;
        }
    }

    &--lg {
        @media all and (min-width: $size-lg) {
            font-size: 1.4rem;
            padding: 1.1em 2em;
        }
    }

    &--block {
        width: 100%;
    }

    &--badge {
        padding: 0;
        background: none !important;
        border: none;

        img {
            height: 46px;
            @media all and (min-width: $size-lg) {
                height: 50px;
            }
        }
    }
}

.social-icons {

    .btn--link {
        margin: 0;
        color: $color-text-primary;
        @media all and (min-width: $size-lg) {
            &:hover {
                color: $color-text-secondary;
            }
        }
    }

}