.giftcard {

    .hero {
        background: $color-giftcard;

        &__body {
            padding-right: 18vw;
            @media all and (min-width: $size-lg) {
                padding-right: 12vw;
            }
        }

        &__image {
            position: absolute;
            bottom: 0;
            right: -25vw;
            width: 60%;
            @media all and (min-width: $size-lg) {
                right: -18vw;
            }
        }
    }

    .insight {
        background-color: $color-giftcard;
        color: white;
    }
}