.cover {
    position: relative;
    padding-top: 0;
    padding-bottom: 10%;

    &:before {
        z-index: -1;
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, rgba($color-secondary, .7), rgba($color-primary, .7)), url(../images/cover.jpg);
        background-repeat: no-repeat;
        background-position: right top;
        background-size: cover;
    }

    &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 100%;
        padding-top: 10%;
        background: white;
        clip-path: polygon(0 0, 100% 36%, 100% 100%, 0% 100%);
    }

    &__caption {
        padding-top: 10%;
        padding-bottom: 10%;
    }

    .headline {
        color: white;
        text-shadow: 0 2px 1px rgba(black, .07);
    }

    .btn {
        border-color: rgba(black, .075);
        box-shadow: 0 2px 1px 1px rgba(black, .15);
    }
}