.cover {
    position: relative;
    padding-top: 50%;

    &:before {
        z-index: -1;
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, rgba($color-secondary, .6), rgba($color-primary, .6)), url(../images/cover.jpg);
        background-repeat: no-repeat;
        background-position: right top;
        background-size: 100%;
    }

    &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 100%;
        padding-top: 10%;
        background: white;
        clip-path: polygon(0 0, 100% 36%, 100% 100%, 0% 100%);
    }

    &__title {
        position: absolute;
        left: 50%;
        bottom: 10%;
        width: 84%;
        transform: translateX(-50%);
    }

    &__text {  
        font-size: 6.4rem;
        line-height: 1;
        font-weight: bold;
        text-transform: uppercase;
        color: white;
    }

    @media all and (min-width: $size-md) {
        padding-top: 30%;

        &:before {
            background-attachment: fixed;
        }

        &__title {
            bottom: 16%;
        }
    }
}