.cv {

    &__entry {
        max-width: 720px;
        margin: 0 auto 16px;
        padding: 34px;
        border: 1px solid $color-gray-light;
        border-radius: 9px;
    }

    &__view-more {
        max-width: 720px;
        margin: 0 auto;
    }
}