.cv {

    .view-more {
        max-width: 648px;
        margin: 0 auto;
    }
}

.role {
    max-width: 648px;
    margin: 0 auto 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid $color-gray-light;

    &__meta {
        color: $color-text-secondary;
    }

    @media all and (min-width: $size-lg) {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        &__meta {
            margin-top: 2px;
        }
    }
}