.device {
    width: 100%;
    position: relative;

    &__body {
        overflow: hidden;
    }
        
    &__screen {
        position: relative;
        overflow: hidden;

        &:before {
            content: '';
            display: block;
            background: black;
        }

        img {
            display: block;
            width: 100%;
            border-radius: 0;
        }
    }

    &-mobile {
        max-width: 415px;
    
        .device__body {
            padding: 20% 4.82%;
            background: #111;
            border-radius: 40px;
            box-shadow: 
                inset 0 0 20px rgba(white, .2), 
                0 2px 5px rgba(black, .2), 
                0 2px 50px rgba(black, .5);
        
            &:before {
                content: '';
                position: absolute;
                top: 5%;
                left: 50%;
                transform: translateX(-50%);
                width: 21%;
                height: .6%;
                background: rgba(white, .1);
                border-radius: 10px;
                z-index: 1;
            }
        }
        
        .device__screen {

            &:before {
                padding-top: calc(667 / 375 * 100%);
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }

    &--light {

        .device__body {
            background: white;
            box-shadow: 
                inset 0 0 20px rgba(#79878a, .2), 
                0 1px 1px rgba(#79878a, .06),
                0 4px 50px rgba(black, .16);
            
            &:before {
                background: #DAE0E3;
            }
        }

    }

    &-desktop {
        max-width: 1440px;
    
        .device__body {
            padding: 4% 0 0;
            background: $color-gray-light;
            border-radius: 6px;
            box-shadow: 0 2px 4px rgba(50,50,93, .1);
        }
    }
}