hr {
    display: block;
    width: 14%;
    height: 0;
    border-width: 2px 0 0;
    border-style: solid;
    border-color: $color-accent;
}

.divider {
    position: relative;
    margin-bottom: 16px;
    vertical-align: top;

    &:not(:first-child) {
        margin-top: 64px;
    }

    &__title {
        letter-spacing: .2em;
        line-height: 1;
        text-transform: uppercase;
        color: $color-primary;
    }

    &__zigzag {
        display: inline-block;

        svg {
            display: block;
            fill: none;
            stroke-miterlimit: 10;
            stroke-width: 2;
            stroke: $color-secondary;
        }
    }
    
    @media all and (min-width: $size-lg) {
        margin-bottom: 24px;

        &:not(:first-child) {
            margin-top: 96px;
        }
    }
}