img {
    position: relative;
    min-height: 48px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: capitalize;
    color: $color-text-hint;

    &:before,
    &:after {
        display: block;
        position: absolute;
    }

    &:before {
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $color-gray-lighter;
    }

    &:after {
        content: attr(alt);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding-left: 21px; 
        background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" width="16" height="16" fill="#9AA3AE"><path style=" " d="M 0 5 L 0 45 L 50 45 L 50 5 Z M 2 7 L 48 7 L 48 33 L 37.320313 33 L 30.320313 28 L 24.414063 28 L 20.328125 23.914063 L 15.460938 24.890625 L 11.15625 18.429688 L 2 27.585938 Z M 37.5 13 C 35.027344 13 33 15.027344 33 17.5 C 33 19.972656 35.027344 22 37.5 22 C 39.972656 22 42 19.972656 42 17.5 C 42 15.027344 39.972656 13 37.5 13 Z M 37.5 15 C 38.890625 15 40 16.109375 40 17.5 C 40 18.890625 38.890625 20 37.5 20 C 36.109375 20 35 18.890625 35 17.5 C 35 16.109375 36.109375 15 37.5 15 Z M 10.84375 21.570313 L 14.539063 27.109375 L 19.671875 26.085938 L 23.585938 30 L 29.679688 30 L 36.679688 35 L 48 35 L 48 43 L 2 43 L 2 30.414063 Z "></path></svg>') left center no-repeat;
    }
}

figcaption {
    color: $color-text-secondary;
}

.figure-logo {
    margin: 24px 0;
    padding: 24px;
    background: $color-gray-lighter;
    border-radius: 4px;

    img {
        max-height: 100px;
        margin: 0 auto;
        opacity: .9;
        filter: grayscale(100%);
        transition: all .2s ease;
    }

    &:hover img {
        filter: none;
    }
}

.figure-icon-app {
    overflow: hidden;
    width: 56px;
    height: 56px;
    border-radius: 9px;

    img {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    &:after {
        z-index: 1;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 9px;
        box-shadow: inset 0 0 0 1px rgba(black, .2);
    }

    @media all and (min-width: $size-md) {
        width: 72px;
        height: 72px;
        border-radius: 16px;

        &:after {
            border-radius: 16px;
        }
    }
}

.screenshots {
    font-size: 0;
    margin: 20px -32px;
    padding: 0 32px 6px;
    white-space: nowrap;
    overflow: auto;

    figure {
        margin-right: 14px;
        display: inline-block;

        > a > img {
            max-width: none;
            height: 200px;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    @media all and (max-width: $size-md - 1px) {
        &::-webkit-scrollbar {
            display: none;
        }
    }

    @media all and (min-width: $size-md) {
        margin: 24px 0;
        padding: 0 2px 12px;

        &::-webkit-scrollbar {
            width: 10px;
            height: 10px;
        }

        &::-webkit-scrollbar-track {
            background: white;
            border-radius: 50px;
        }

        &::-webkit-scrollbar-thumb {
            background: $color-gray-light;
            border-radius: 50px;

            &:hover {
                background: $color-gray;
            }
        }

        figure > a > img {
            height: 250px;
        }
    }
}

.figure-screenshot {
    border: 1px solid $color-border;
    box-shadow: 0 1px 6px rgba(50, 50, 93, .1);

    img {
        margin: 0 auto;
    }
}

.figure-video {
    margin: 24px 0;
    padding: 8px;
    background: white;
    border: 1px solid $color-border;
    border-radius: 6px;

    .figure-video-player {
        position: relative;

        &:before {
            content: '';
            display: block;
            width: 100%;
            padding-top: 56.25%;
        }

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 0;
        }
    }

    .figure-video-title {
        margin: 8px 4px 0;
        text-align: center;
        color: $color-text-hint;
    }
}