.grid {
    list-style: none;
    
    &.has-gutter {
        margin-left: -12px;
        margin-right: -12px;

        &--outside {
            margin-left: 12px;
            margin-right: 12px;
        }

        > .grid__tile {
            padding-left: 12px;
            padding-right: 12px;
        }

        &.has-gutter-bottom {

            > .grid__tile {
                margin-bottom: 24px;
            }
        }
    }

    &.has-gutter-sm {
        margin-left: -4px;
        margin-right: -4px;

        > .grid__tile {
            padding-left: 4px;
            padding-right: 4px;
        }

        &.has-gutter-bottom {

            > .grid__tile {
                margin-bottom: 8px;
            }
        }
    }
}