.grid {
    list-style: none;
    
    &.has-gutter {
        margin-left: -16px;
        margin-right: -16px;

        > .grid__tile {
            padding-left: 16px;
            padding-right: 16px;
        }

        &.has-gutter-bottom {

            > .grid__tile {
                margin-bottom: 32px;
            }
        }
    }

    &.has-gutter-sm {
        margin-left: -4px;
        margin-right: -4px;

        > .grid__tile {
            padding-left: 4px;
            padding-right: 4px;
        }

        &.has-gutter-bottom {

            > .grid__tile {
                margin-bottom: 8px;
            }
        }
    }
}