.header {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    height: 56px;
    padding: 0 8px 0 16px;
    background: white;
    box-shadow: 0 1px 0 rgba(black, .075);
    @media all and (min-width: $size-md) {
        height: 64px;
        padding: 0 36px;
    }

    &__title {
        flex: 1;
        margin: 0;

        a {
            font-size: 2rem;
            color: $color-primary;
            border-bottom: 2px solid $color-secondary;
            box-shadow: inset 0 -6px 0 0  $color-accent;
        }
    }

    @media all and (max-width: $size-sm - 1px) {
        &__actions .btn {
            padding: 9px;
            border-color: transparent !important;
        }
    }
}

.header-is-fixed {
    z-index: 1000;
    position: relative;
    height: 56px;
    @media all and (min-width: $size-md) {
        height: 64px;
    }
}