.header {
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 8px 0 16px;
    @media all and (min-width: $size-md) {
        padding: 0 36px;
    }
    @media all and (min-width: $size-xl) {
    position: fixed;
    }

    &__title {
        flex: 1;
        margin: 0;
    }

    &__actions { 

        .btn {
            color: rgba(black, .9);
            border-width: 0;
        }
    }
}

.logo {
    position: relative;
    display: inline-block;
    font-size: 2.4rem;
    line-height: 1;
    font-weight: 600;
    color: rgba(black, .88);
    padding: 4px 6px;

    &:before,
    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 10px;
        height: 1px;
        background: rgba(black, .88);
    }

    &:after {
        left: -1px;
        width: 1px;
        height: 10px;
    }
}