.hero {
    position: relative;
    margin: 0 16px;

    @media all and (min-width:$size-md) {
        margin: 0 36px;
    }

    &__body {
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: $container-width;
        min-height: 50vw;
        padding: 10vw 16px;
        @media all and (min-width: $size-sm) {
            min-height: 30vw;
            padding: 8vw 30px;
        }
        @media all and (min-width: $container-width) {
            overflow: visible;
        }
        @media all and (min-width: $size-lg) {
            min-height: 30vw;
            padding: 4vw 30px;
        }
        @media all and (min-width: $size-xl) {
            min-height: 20vw;
            padding: 6vw 30px;
        }
        @media all and (min-width: $size-xxl) {
            min-height: 10vw;
            padding: 4vw 30px;
        }
    }

    &.is-skewed {
    padding-bottom: 4%;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -2px;
            width: 100%;
            padding-top: 4%;
            background: white;
            clip-path: polygon(0 0, 100% 70%, 100% 100%, 0% 100%);
        }

    }

    .home & {
        background: linear-gradient(to right, rgba($color-secondary, .8), rgba($color-primary, .7)), 
        url(../images/cover.jpg);
        background-repeat: no-repeat;
        background-position: right top;
        background-size: cover;
    }
}