.hero {
    position: relative;
    width: calc(100% - 32px);
    max-width: $size-xxl;
    margin: 0 auto;
    border-radius: 3px;

    @media all and (min-width: $size-md) {
        width: calc(100% - 72px);

        &:before {
            content: '';
            z-index: 1;
            position: absolute;
            top: 16px;
            left: 16px;
            width: calc(100% - 32px);
            height: calc(100% - 32px);
            border: 1px solid rgba(white, .3);
            border-radius: 3px;
            pointer-events: none;
        }
    }

    &__body {
        z-index: 2;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: $container-width;
        min-height: 50vw;
        padding: 10vw 16px;
        @media all and (min-width: $size-sm) {
            min-height: 30vw;
            padding: 8vw 30px;
        }
        @media all and (min-width: $container-width) {
            overflow: visible;
        }
        @media all and (min-width: $size-lg) {
            min-height: 30vw;
            padding: 6vw 30px;
        }
        @media all and (min-width: $size-xxl) {
            min-height: 20vw;
        }
    }

    &__figure {
        z-index: 3;

        img {
            border-radius: 0 0 3px 0;
        }
    }
}