.highlight {
    text-align: center;

    &__no {
        position: relative;
        display: block;
        width: 100%;
        margin: 0 auto;
        padding: .3em 0 0;
        font-size: 5em;
    }

    &__text {

    }
}