.highlight {
    padding: 3em 0;
    text-align: center;

    &__no {
        position: relative;
        display: block;
        width: 100%;
        margin: 0 auto;
        font-size: 5em;
        line-height: 1;
    }

    &__text {

    }
}