html,
body {
    min-height: 100vh;
}

body {
    background-color: $color-background;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.appbar,
.header {
    height: 56px;
    @media all and (min-width: $size-md) {
        height: 64px;
    }
}

.appmain {
}

.appfooter {
    padding: 16px;
    text-align: center;
    background: $color-dark;
    color: white;
}

.section {
    padding: 72px 10vw;

    &__title {
        margin-bottom: 32px;

        &--xl {
            margin-bottom: 64px;
        }
    }
    @media all and (min-width: $size-lg) {
        padding: 96px 8vw;

        &__title--xl {
            margin-bottom: 128px;
        }
    }
    @media all and (min-width: $size-xl) {
        padding: 96px 2vw;
    }        
    
    .article__figure {
        margin-top: 4em;
        margin-bottom: 4em;
    }
}

.article {

    &__figure {
        max-width: 1440px;
        margin: 0 auto;

        img {
            //max-height: 100vh;
        }

        figcaption {
            margin-top: 12px;
            text-align: center;
            color: $color-text-secondary;
        }
    }

    .insights {
        margin-top: 3em;
    }
}