html,
body {
    min-height: 100vh;
}

body {
    background-color: $color-background;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.appbar,
.header {
    height: 56px;
    @media all and (min-width: $size-md) {
        height: 64px;
    }
}

.appmain {
}

.appfooter {
    padding: 32px 16px;
    text-align: center;
}

.section {
    padding: 72px 0;

    &__title {
        margin-bottom: 32px;

        &--xl {
            margin-bottom: 64px;
        }
    }
    @media all and (min-width: $size-lg) {
        padding: 96px 0;

        &__title--xl {
            margin-bottom: 128px;
        }
    }
}

.article {

    &__figure {
        max-width: $figure-width-fill;
        margin-left: auto;
        margin-right: auto;
        margin-top: 4em;
        &:not(:last-child) {
            margin-bottom: 4em;
        }

        &--fill {
            width: calc(100% - 32px);
            
            @media all and (min-width: $size-md) {
                width: calc(100% - 72px);
            }
        }

        img {
            border-radius: 6px;
        }

        figcaption {
            margin-top: 12px;
            text-align: center;
            color: $color-text-secondary;
        }
    }

    .insights {
        margin-top: 3em;
    }
}