body {
    background-color: $color-background;
    scroll-behavior: smooth;
}

.section {
    padding: 72px 10vw;

    &__title {

        &--xl {
            margin-bottom: 64px;
        }
    }
    @media all and (min-width: $size-lg) {
        padding: 96px 8vw;

        &__title--xl {
            margin-bottom: 128px;
        }
    }
    @media all and (min-width: $size-xl) {
        padding: 96px 2vw;
    }
}

footer {
    padding: 16px;
    text-align: center;
    background: $color-primary;
    color: $color-accent;
}