ul:not([class]),
ol:not([class]) {

    li:not(:last-child) {
        margin-bottom: 1em;
    }
}

ul:not([class]) {
    list-style: none;

    li {
        position: relative;

        &:before {
            content: '';
            display: block;
            width: 24px;
            height: 2px;
            margin-bottom: .2em;
            background: $color-secondary;
        }
    }
}

.list {
    margin-left: 0;

    li {
        display: block;

        &:before {
            display: none;
        }
    }
}

dl {
    overflow: hidden;
    border-width: 1px 2px 2px;
    border-style: solid;
    border-color: $color-border;
    border-radius: 4px;

    dt,
    dd {
        float: left;
        padding: 8px 6px 8px 12px;
        border-top: 1px solid $color-border;
        white-space: nowrap;
    }

    dt {
        width: 30%;
    }

    dd {
        width: 70%;
        background: $color-gray-lighter;
    }
}