ul:not([class]),
ol:not([class]) {
    margin-left: 36px;

    li:not(:last-child) {
        margin-bottom: 0.4em;
    }
}

.list {
    margin-left: 0;
    text-align: left;

    li {
        display: block;

        &:before {
            display: none;
        }
    }
}
