.media {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.media-figure {
    display: block;
    position: relative;
    overflow: hidden;
}

.media-figure a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.media-body {
    flex: 1;
    overflow: hidden;
}