.portfolio {
    overflow: hidden;
    max-width: 100%;

    &__entry {
        margin: 8px -32px 0;
        @media all and (min-width: $size-md) {
            margin: 32px auto 0;
        }
    }

    p {
        margin: 0;
    }

    p + p,
    ul + p,
    ol + p {
        margin-top: 1.1em;
    }

    p + ul {
        margin-top: .6em;
    }
}