.project {
    padding: 24px 32px;
    background: white;
    box-shadow: 0 2px 4px rgba(50,50,93, .1);

    &__header {
        margin-bottom: 24px;

        .media-figure {
            order: 2;
            margin-left: 16px;
        }

        .project__title {
            margin: 0 0 8px;
        }

        p {
            margin: 0 !important;
        }
    }

    @media all and (min-width: $size-md) {
        padding: 40px;
    }
}