.project {
    max-width: 720px;
    margin-left: -10vw;
    margin-right: -10vw;
    padding: 24px;
    background: white;

    &__header {
        margin-bottom: 24px;

        .media-figure + .media-body {
            margin-left: 16px;
        }

        p {
            margin: 0 !important;
        }
    }

    &__title {
        margin-top: 4px;
    }

    @media all and (min-width: $size-md) {
        margin-left: auto;
        margin-right: auto;
        padding: 34px;
        border: 1px solid $color-gray-light;
        border-radius: 9px;
    }
}