.project {
    max-width: 648px;
    margin-left: -10vw;
    margin-right: -10vw;
    padding: 24px;
    background: white;
    box-shadow: 0 2px 4px rgba(black, .04);

    &__header {
        margin-bottom: 24px;

        .media-figure {
            order: 2;
            margin-left: 16px;
        }

        p {
            margin: 0 !important;
        }
    }

    @media all and (min-width: $size-md) {
        margin-left: auto;
        margin-right: auto;
        padding: 34px;
        border-radius: 3px;
        box-shadow: 0 4px 10px rgba(black, .06);
    }
}