.skill {
    display: flex;
    width: 100%;
    margin-top: 16px;
    margin-bottom: 32px;

    &__figure {
        width: 64px;
        margin-right: 24px;

        svg {
            width: 100%;
            height: auto;
            fill: $color-gray;
        }
    }

    &-body {
        flex: 1;
        overflow: hidden;
        min-width: 1;
    }

    p {
        margin-top: 0;
        margin-bottom: .5em;
    }

    ul {
        margin: 0;
    }

    @media all and (min-width: $size-sm) {
        
        &__figure {
            width: 128px;
        }

    }

    @media all and (min-width: $size-md) {
        display: block;
        margin-bottom: 0;
        
        &__figure {
            margin-right: 0;
            margin-bottom: 24px;
        }
    }
}