table {
    width: 100%;
    margin: 3em auto;
    background: white;
    border: 1px solid $color-gray-light;
    font-size: 1.2rem;
    @media all and (min-width: $size-sm) {
        font-size: 1.4rem;
    }
}

table,
th,
td {
    border-collapse: collapse;
    vertical-align: top;
}

thead {
    tr {
        background-color: $color-gray-light;
    }
}

th {
    border: 1px solid $color-gray-light;

    tbody &,
    tfoot & {
        color: $color-text-secondary;
        background-color: white;
    }
}

tr:nth-child(even) {
    background-color: $color-gray-lighter;
}

th,
td {
    padding: 6px 12px;
}
