.tags {
    list-style: none;
    margin-left: 0;

    li {
        display: inline-block;
        margin: 0 6px 16px 0;
        padding: .25em 1em;
        border: 1px solid $color-secondary;
        border-radius: 100px; 

        &:before {
            display: none;
        }
    }
}