* {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

html {
    font-family: $font-primary;
    font-size: 10px;
}

body {
    font-size: 1.4rem;
    line-height: 1.58;
    font-weight: 300;
    color: $color-text-primary;
    text-align: left;
    @media all and (min-width: $size-lg) {
        font-size: 1.6rem;
    }
}

h1,
h2,
h3,
h4,
h5 {
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
}

a {
    color: $color-primary;
    text-decoration: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    @media all and (min-width: $size-lg) {
        &:hover {
            color: darken($color-primary, 6%);
            text-decoration: none;
        }
    }
}

b,
strong {
    font-weight: 600;
}

.headline {
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: -.02em;
    color: $color-text-title;

    & + * {
        margin-top: 1.5em;
    }

    @media all and (min-width: $size-md) {
        font-size: 4rem;  
        line-height: 1.2;

        & + * {
            margin-top: 2em;
        }
    }

    @media all and (min-width: $size-xl) {
        font-size: 6.6rem;  
    }
}

.subtitle {
    font-size: 1.6rem;
    line-height: 1.4;
    color: $color-text-title;
    @media all and (min-width: $size-md) {
        font-size: 2rem;
    } 
}

.meta,
figcaption {
    font-size: 1.4rem;
    line-height: 1.5;
}

.article {

    h1 {
        font-size: 3.2rem;
        font-weight: 600;
        line-height: 1.2;
        margin-bottom: .5em;
        @media all and (min-width: $size-md) {
            font-size: 5.2rem;
        }
        @media all and (min-width: $size-xxl) {
            font-size: 5.8rem;
        }

        & + h3 {
            margin-top: .5em;
        }
    }

    h2 {
        &:not(:first-child) {
            margin-top: 2em;
        }
        margin-bottom: 2em;
        font-weight: 600;
        line-height: 1.1;
        color: $color-text-title;
        font-size: 2.4rem;
        @media all and (min-width: $size-sm) {
            font-size: 3.2rem;
        }
        @media all and (min-width: $size-md) {
            font-size: 4rem;
        }

        & + h3 {
            margin-top: -2.2em;
        }
    }

    h3 {
        margin-top: 2em;
        margin-bottom: 2em;
        font-family: $font-secondary;
        line-height: 1.3;
        color: $color-text-secondary;
        font-size: 2rem;
        @media all and (min-width: $size-sm) {
            font-size: 2.4rem;
        }
        @media all and (min-width: $size-md) {
            font-size: 3rem;

            &.text-center {
                margin-left: 2em;
                margin-right: 2em;
            }
        }

        & + hr {
            margin-top: -1.6em;
        }
    }

    h4 {
        &:not(:first-child) {
            margin-top: 2em;
        }
        margin-bottom: .4em;
        font-weight: 600;
        line-height: 1.26;
        font-size: 1.7rem;
        @media all and (min-width: $size-sm) {
            font-size: 1.8rem;
        }
        @media all and (min-width: $size-md) {
            font-size: 2.2rem;
        }
        @media all and (min-width: $size-xxl) {
            font-size: 2.3rem;
        }
    }

    blockquote {
        margin: 2em 1em;
        font-family: $font-secondary;
        font-size: 2rem;
        line-height: 1.4;
        color: $color-danger;
        text-align: center;
        @media all and (min-width: $size-md) {
            margin-left: 2em;
            margin-right: 2em;
            font-size: 2.6rem;
        }
        @media all and (min-width: $size-xxl) {
            font-size: 3rem;
        }
    }

    p,
    hr,
    li {
        font-size: 1.6rem;
        @media all and (min-width: $size-sm) {
            font-size: 1.7rem;
        }
        @media all and (min-width: $size-md) {
            font-size: 2rem;
        }
        @media all and (min-width: $size-xxl) {
            font-size: 2.2rem;
        }
    }

    p,
    ol,
    ul {
        margin-bottom: 1.5em;

        &:last-child {
            margin-bottom: 0;
        }

        & + hr {
            margin-top: -.5em;
        }
    }
}

.insight,
.skill,
.project,
.article__figure {

    p,
    li {
        font-size: 1.4rem;
        @media all and (min-width: $size-md) {
            font-size: 1.6rem;
        }
    }

    p {
        margin-bottom: 1em;
    }
}