* {
    font-family: $font-primary;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-font-feature-settings: 'lnum';
    -webkit-font-variant-ligatures: no-common-ligatures;
    font-variant-ligatures: no-common-ligatures;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: 'lnum';
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
    line-height: 1.5;
    font-weight: normal;
    color: $color-text-primary;
    text-align: left;
    @media all and (min-width: $size-lg) {
        font-size: 1.6rem;
    }
}

a {
    color: $color-primary;
    text-decoration: none;
    @media all and (min-width: $size-lg) {
        &:hover {
            color: darken($color-primary, 16%);
            text-decoration: none;
        }
    }
}

h1,
h2,
h3,
h4,
h5 {
    font-size: inherit;
    font-weight: normal;
    color: inherit;
}

dl {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 20px;
    line-height: 2rem;
}

.headline {
    font-size: 2.2rem;
    line-height: 1.35;
    font-weight: 400;
    color: $color-text-title;
    @media all and (min-width: $size-sm) {
        font-size: 2.6rem;  
    }
    @media all and (min-width: $size-md) {
        font-size: 3.2rem;  
    }
    @media all and (min-width: $size-xl) {
        font-size: 4.6rem;  
    }
}

.title {
    font-size: 2rem;
    line-height: 1.4;
    color: $color-text-title;
    @media all and (min-width: $size-md) {
        font-size: 2.6rem;
    }    
    
    .headline + & {
        margin-top: .4em;
    }
}

.subtitle {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.4;
    color: $color-text-title;
    @media all and (min-width: $size-md) {
        font-size: 2rem;
    } 
}

.meta {
    font-size: 1.4rem;
    line-height: 1.4;
}

.color-text-secondary {
    color: $color-text-secondary;
}