.centered {
    margin-left: auto;
    margin-right: auto;
}

.sticky {
    position: sticky;

    &.sticky-fixed.is-sticky {
        position: fixed;
        backface-visibility: hidden;
    }

    &.sticky-fixed.is-absolute {
        position: absolute;
    }
}