// Layout

.centered {
    margin-left: auto;
    margin-right: auto;
}

.restrict-width {
    padding-left: 32px;
    padding-right: 32px;
    max-width: $container-width;
}


// Text

.text-center {
    text-align: center;
}

.text-caps {
    text-transform: uppercase;
}

// Color

.bg-gray-lighter {
    background: $color-gray-lighter;
}

.color-text-white {
    color: white;
}

.color-text-dark {
    color: $color-text-title;
}

.color-text-secondary {
    color: $color-text-secondary;
}

.color-text-success {
    color: $color-success;
}

.color-text-danger {
    color: $color-danger;
}


// Responsive visibility

.is-hidden {
    display: none;
}

.is-block {
    display: block;
}

.visible-md {
    @media all and (max-width: $size-md - 1px) {
        display: none !important;
    }
}

.visible-lg {
    @media all and (max-width: $size-lg - 1px) {
        display: none !important;
    }
}