// Layout

.centered {
    margin-left: auto;
    margin-right: auto;
}

.restrict-width {
    max-width: $container-width;
}


// Text

.text-center {
    text-align: center;
}

// Color

.bg-gray-lighter {
    background: $color-gray-lighter;
}


// Responsive visibility

.is-hidden {
    display: none;
}

.visible-md {
    @media all and (max-width: $size-md - 1px) {
        display: none !important;
    }
}

.visible-lg {
    @media all and (max-width: $size-lg - 1px) {
        display: none !important;
    }
}