<header class="page-header">
    <div class="navbar">
        <div class="navbar-logo heading">
            <a href="/">Raz <span class="wave">&#x1F44B;</span></a>
        </div>
        <nav class="navbar-nav nav caption">
            <a href="/" class="nav-link @@if( page === 'home' ) {selected}"><b>Home</b></a>
            <a href="about" class="nav-link @@if( page === 'about' ) {selected}"><b>About</b></a>
            <a href="work" class="nav-link @@if( page === 'work' ) {selected}"><b>Work</b></a>
        </nav>
        <div class="navbar-description caption">
            <span class="color-gradient-primary">&#x2600; Barcelona</span>
        </div>
    </div>
</header>
