.avatar {
    $avatar-size: rem(48px);

    --size: #{$avatar-size};

    position: relative;
    display: flex;
    align-items: center;
    width: var(--size);
    min-width: 1px;
    height: var(--size);
    padding: 3px;
    border-radius: 50%;

    &::before,
    &::after {
        position: absolute;
        inset: 0;
        border-radius: inherit;
    }
    &::before {
        z-index: 1;
        margin: -1px;
        background-image: var(--gradient-primary);
        content: "";
    }

    &::after {
        z-index: 2;
        background-color: var(--color-neutral-end);
        content: "";
    }

    img {
        z-index: 3;
        border-radius: inherit;
    }
}
