.button {
    @include font-size($body-small);
    --padding-y: var(--space-medium);
    --padding-x: var(--space-huge);
    --color: var(--color-primary-base);
    --bg: none;
    --border-color: var(--color-neutral-dark);
    --border-radius: 100px;
    --box-shadow: none;
    --transform: none;
    --hover-color: var(--color-neutral-lightest);
    --hover-bg: none;
    --hover-border-color: var(--color-neutral-dark);
    --hover-box-shadow: none;
    --active-color: var(--color-neutral-lightest);
    --active-bg: none;
    --active-border-color: var(--color-neutral-dark);
    --active-box-shadow: none;
    --active-transform: none;
    --disabled-color: var(--color-neutral-dark);
    --disabled-bg: none;
    --disabled-border-color: var(--color-neutral-dark);
    --disabled-box-shadow: none;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: var(--padding-y) var(--padding-x);
    color: var(--color);
    white-space: nowrap;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    background: var(--bg);
    border-color: var(--border-color);
    border-style: solid;
    border-width: 1px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    transform: var(--transform);
    transition: color .15s ease-in, background .15s ease-in, border-color .15s ease-in;
    cursor: pointer;
    user-select: none;

    &:hover {
        --color: var(--hover-color);
        --bg: var(--hover-bg);
        --border-color: var(--hover-border-color);
        --box-shadow: var(--hover-box-shadow);
        text-decoration: none;
    }

    &:active {
        --color: var(--active-color);
        --bg: var(--active-bg);
        --border-color: var(--active-border-color);
        --box-shadow: var(--active-box-shadow);
        --transform: var(--active-transform);
    }

    &:disabled,
    &.disabled,
    fieldset:disabled & {
        --color: var(--disabled-color);
        --bg: var(--disabled-bg);
        --border-color: var(--disabled-border-color);
        --box-shadow: var(--disabled-box-shadow);
        opacity: 100%;
        pointer-events: none;
    }

    // style icons inside the button
    .icon {
        &:first-child {
            margin-right: var(--space-small);
        }
        &:last-child {
            margin-left: var(--space-small);
        }
        &:only-child {
            margin: 0;
        }
    }
}

// Subtle button

.button-subtle {
    --color: var(--color-neutral-light);

}

// Block button

.button-block {
    display: flex;
    width: 100%;

    // Vertically space out multiple block buttons
    + .button-block {
        margin-top: var(--space-small);
    }
}

// Social button

.button-social {

    --padding-y: var(--space-large);
    --padding-x: var(--space-large);
    --color: var(--color-neutral-base);
    --bg: none;
    --border-radius: 0;
    --hover-color: var(--color-neutral-end);
    --active-color: var(--color-neutral-lightest);
    --disabled-color: var(--color-neutral-dark);

    position: relative;
    border-width: 0;
    transition: none;

    .icon {
        --size: #{rem(28px)};
        margin: 0 !important;
        transform: scale(.7143);
        will-change: transform;
        transition: transform .2s cubic-bezier(0.175, 0.885, 0.32, 1.275) .2s, color .01s ease-in .3s;
    }

    .icon-bg {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        fill: var(--color-neutral-lightest);
        opacity: .001;
        transform: scale(.001);
        will-change: transform;
        transition: transform .3s cubic-bezier(0.6, 0.04, 0.98, 0.335), opacity .04s ease-in .26s;
    }

    &:hover {

        .icon {
            transform: scale(1);
            transition: transform .28s cubic-bezier(0.175, 0.885, 0.32, 1.275) .04s;
        }

        .icon-bg {
            opacity: 1;
            transform: scale(1);
            transition: transform .32s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }
    }
}
