.case + .case {
    --margin-t: #{rem(80px)};

    margin-top: var(--margin-t);
}

.case-title {
    --margin-b: var(--space-large);
    margin-bottom: var(--margin-b);
}

.case-team {
    --margin-b: var(--space-huge);
    margin-bottom: var(--margin-b);

    > * {
        display: block;
    }

    > * + * {
        --margin-t: var(--space-small);
        margin-top: var(--margin-t);
    }
}

.case-media {
    display: flex;
    align-items: center;
    justify-content: center;
}

.case-figure {
    max-width: 100%;
}

@include media-breakpoint-up(tablet) {
    .case-body {
        --padding: 0 var(--space-gigantic) 0 0;
        padding: var(--padding);
    }
    .case-title {
        --margin-b: var(--space-huge);
    }
}
