.hero {
    @include media-breakpoint-down(tablet) {
        --padding-y: #{rem(48px)};
    }
}

.hero-title {
    --margin-t: var(--space-gigantic);
    --margin-b: var(--space-huge);

    margin-top: var(--margin-t);
}

.hero-subtitle {
    --margin-t: 0;
    --margin-b: var(--space-gigantic);

    margin-top: var(--margin-t);
}

.hero-image svg {
    width: 100%;
    height: auto;
}
