.hero {
    --gap: var(--space-huge);

    display: grid;
    gap: var(--gap);
}

.hero-social {
    --gap: var(--space-small);

    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: var(--gap);
}

@include media-breakpoint-up(tablet) {
    .hero {
        --gap: calc(var(--space-huge) * 2);

        grid-template-columns: auto 1fr;
        align-items: start;
    }
}

@include media-breakpoint-up(laptop) {
    .hero {
        --gap: calc(var(--space-gigantic) * 2);

        grid-template-columns: auto 1fr auto;
    }

    .hero-body > * {
        max-width: 74ch;
    }

    .hero-social {
        display: flex;
        flex-direction: column;
    }
}
