.logo {
    --height: #{rem(60px)};
    --name-translate: 1px, 0;
    --color: var(--text-primary-reverse);
    --bg: var(--bg-accent);

    position: relative;
    margin-right: var(--space-huge);
    font-weight: $font-weight-medium;
    font-size: 1.875rem;
    font-family: $headings-font-family-v;
    text-decoration: none;

    .logo-bulb {
        width: auto;
        height: var(--height);
        fill: var(--bg);
    }

    .logo-name {
        position: absolute;
        top: 20%;
        right: 0;
        color: var(--color);
        transform: translate(var(--name-translate));
    }
}
