---
layout: base
title: Elastic intro
description: Hello Elastic, exciting to meet you!
---
<main class="flex-auto flex items-center">
    <section class="flex-none w-full mx-auto max-w-lg md:max-w-2xl p-8 md:py-12 lg:px-0">
        <figure class="flex items-center gap-4">
            <div class="relative overflow-hidden w-16 h-16 ring-1 ring-[#ffffff]/10 ring-inset rounded-full">
                <img src="/assets/images/raz.jpg" alt="Raz Tirboaca" class="absolute top-0 left-0 -z-10 w-full h-full rounded-full">
            </div>
            <div class="relative overflow-hidden w-16 h-16 drop-shadow-sm">
                <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="none" viewBox="0 0 173 173" class="absolute top-0 left-0 -z-10 w-full h-full">
                    <defs>
                        <clipPath id="a">
                        <path fill="#fff" d="M0 0h173v173H0z"/>
                        </clipPath>
                    </defs>
                    <g clip-path="url(#a)">
                        <path fill="#fff" d="M172.05 90.79a33.847 33.847 0 0 0-22.39-31.93 48.11 48.11 0 0 0 .9-9.25 48.59 48.59 0 0 0-88-28.45 25.81 25.81 0 0 0-40 29.4A34.31 34.31 0 0 0 0 82.62a33.877 33.877 0 0 0 22.5 32 49.732 49.732 0 0 0-.89 9.24 48.463 48.463 0 0 0 33.622 46.179 48.46 48.46 0 0 0 54.238-17.919 25.772 25.772 0 0 0 40.519-12.915 25.767 25.767 0 0 0-.519-16.375 34.29 34.29 0 0 0 22.57-32.06"/>
                        <path fill="#FEC514" d="M67.64 74.81 105.29 92l38-33.28a42 42 0 0 0 .81-8.34 42.457 42.457 0 0 0-29.897-40.55A42.459 42.459 0 0 0 66.62 26.38l-6.33 32.74 7.35 15.69Z"/>
                        <path fill="#00BFB3" d="M28.67 114.68a43.141 43.141 0 0 0-.83 8.47 42.568 42.568 0 0 0 56.664 40.168 42.563 42.563 0 0 0 21.106-16.228l6.27-32.67-8.37-16L65.72 81.2l-37.05 33.48Z"/>
                        <path fill="#F04E98" d="m28.44 49.53 25.8 6.09 5.65-29.34a20.38 20.38 0 0 0-31.45 23.25Z"/>
                        <path fill="#1BA9F5" d="M26.2 55.67a28.74 28.74 0 0 0-19.55 27A28.44 28.44 0 0 0 25 109.28l36.2-32.72-6.65-14.2-28.35-6.69Z"/>
                        <path fill="#93C90E" d="M112.23 147.09a20.354 20.354 0 0 0 24.364.13 20.353 20.353 0 0 0 7.026-23.33l-25.78-6-5.61 29.2Z"/>
                        <path fill="#07C" d="m117.47 111.1 28.38 6.63a28.698 28.698 0 0 0 19.55-27 28.412 28.412 0 0 0-18.34-26.54l-37.12 32.5 7.53 14.41Z"/>
                    </g>
                </svg>
            </div>
        </figure>
        <h1 class="mt-12 font-handwriting text-4xl text-primary -rotate-2">Hello Bojana and Gavin,</h1>
        <p class="mt-12 md:text-xl">My name is Raz and I'm very excited to meet you later this week! Please find here an <a href="https://helloraz.com" target="_blank" class="underline underline-offset-2 decoration-primary hover:text-primary transition">overview of myself</a>.</p>
        <p class="mt-8 md:text-xl">For our call, I've put together <a href="https://www.figma.com/proto/tH7LDUPydlL2idUZCoxb24/helloraz.com?page-id=804%3A93&node-id=805%3A95&viewport=98%2C448%2C0.05&scaling=scale-down&starting-point-node-id=805%3A95&hotspot-hints=0&hide-ui=1" target="_blank" class="underline underline-offset-2 decoration-primary hover:text-primary transition">a 25-minute deck</a> to present you how I managed the design org and built the wefox's design system as Head of Design Ops, 2020–2022.</p>
        <p class="mt-8 md:text-xl">If you're looking to see some of my activity as an individual contributor – up to 2017 – I've uploaded the <a href="https://helloraz.com/old/portfolio/" target="_blank" class="underline underline-offset-2 decoration-primary hover:text-primary transition">old portfolio</a>. There are 2 case studies there if you need to dive deep into my product design skills 👀</p>
        <p class="mt-10 font-handwriting text-4xl text-primary -rotate-3">See you soon,<br>Raz</p>
    </section>
</main>
