---
layout: base
---

<header class="px-8 py-12 flex justify-center">
    <figure class="flex items-center gap-4 md:gap-8">
        <img src="assets/images/raz.jpg" alt="Raz Tirboaca" class="w-24 md:w-40 rounded md:rounded-md">
        <figcaption class="flex-1 font-handwriting text-3xl md:text-4xl text-secondary -rotate-2">
            Welcome! Please take a seat. <br>Let's talk..
        </figcaption>
    </figure>
</header>

<main class="mx-3 md:mx-4 flex-auto bg-primary rounded-[24px] md:rounded-[40px]">
    <section class="mx-auto max-w-lg md:max-w-2xl lg:max-w-3xl px-8 py-24 md:py-40 drop-shadow-sm">
        <p class="text-3xl"><span class="line transition-colors">Hello, I'm Raz.</span> <span class="line transition-colors">Since 2004, I've designed online products and services that have been used by millions of people.</span></p>
        <p class="mt-16 text-3xl"><span class="line transition-colors">Background.</span> <span class="line transition-colors">I've worked on B2B and B2C products, leading or being part of a team in both small startups and tech unicorns, in fintech, insurtech, ecommerce, travel, data analytics, media, and advertising.</span></p>
        <p class="mt-16 text-3xl"><span class="line transition-colors">My interests span a wide range of topics in tech, psychology, and systems thinking.</span></p>
        <p class="mt-16 text-3xl"><span class="line transition-colors">Currently, I'm responsible for the Research &amp; Design org.</span> <span class="line transition-colors">Better product discovery, clearer communication, and superior execution are what I focus on.</span></p>
        <p class="mt-16 text-3xl"><span class="line transition-colors">My approach to managing highly efficient teams is Purpose > People > Process.</span> <span class="line transition-colors">'First define the purpose of the team, then find the folks who feel aligned with it, and last create the process for working together, together'.</span></p>
        <p class="mt-16 text-3xl"><span class="line transition-colors"><a href="https://www.linkedin.com/in/razvantirboaca/" target="_blank" class="border-b">Visit my Linkedin</a> to learn more about my professional journey and the companies I proudly have been part of.</span></p>
        <p class="mt-16 text-3xl"><span class="line transition-colors">Personal.</span> <span class="line transition-colors">Born and raised in Bucharest, in 2017 I relocated with my family in Barcelona, and we absolutely love it here.</span></p>
        <p class="mt-16 text-3xl"><span class="line transition-colors">I enjoy hobbies that require a decent level of focus—such as skateboarding, hiking, weight training or making music.</span></p>
    </section>
</main>

<footer class="flex flex-col items-center px-8 py-12">
    <p class="mb-80 text-3xl md:text-4xl font-handwriting text-secondary -rotate-2">And you? <br><a href="https://www.linkedin.com/in/razvantirboaca/" target="_blank" class="border-b">Let's continue on Linkedin</a></p>
    <p class="text-sm text-primary-weak">Made in sunny Barcelona 🇪🇸</p>
</footer>