---
layout: base
---

<header class="px-8 py-12 flex justify-center">
    <figure class="flex items-center gap-4 md:gap-8">
        <img src="assets/images/raz.jpg" alt="Raz Tirboaca" class="w-24 md:w-40 rounded md:rounded-md">
        <figcaption class="flex-1 font-handwriting text-3xl md:text-4xl text-secondary -rotate-2">
            Welcome! Please take a seat. <br>Let's talk...
        </figcaption>
    </figure>
</header>

<main class="mx-3 md:mx-4 flex-auto bg-primary rounded-[24px] md:rounded-[40px]">
    <section class="mx-auto max-w-lg md:max-w-3xl px-8 py-24 md:py-40 drop-shadow-sm">
        <p class="text-3xl md:text-4xl"><span class="line transition-colors">Hello, I'm Raz, a hands-on design leader based in sunny Barcelona and I'm very excited to meet you!</span></p>
        <p class="mt-16 text-3xl md:text-4xl"><span class="line transition-colors">Since 2004, I've designed online products and services that have been used by millions of people.</span></p>
        <p class="mt-16 text-3xl md:text-4xl"><span class="line transition-colors">I've worked in fintech, insurtech, ecommerce, travel, data analytics, media, and advertising on B2B and B2C products.</span></p>
        <p class="mt-16 text-3xl md:text-4xl"><span class="line transition-colors">Over the years, I've led and been a part of design teams scaling-up at both small startups and tech unicorns.</span></p>
        <p class="mt-16 text-3xl md:text-4xl"><span class="line transition-colors">As a design leader I manage highly efficient teams and fully partner with Product and Tech to maximize the product outcomes.</span></p>
         <p class="mt-16 text-3xl md:text-4xl"><span class="line transition-colors">Better product discovery, clearer communication, and superior execution are the areas where I focus on.</span></p>
        <p class="mt-16 text-3xl md:text-4xl"><span class="line transition-colors">I believe in Purpose, People, Process — Define the purpose of the team, find the folks who feel aligned with it, and create the process for working together, together!</span></p>
        <p class="mt-16 text-3xl md:text-4xl"><span class="line transition-colors">Born and raised in Bucharest, I relocated to Barcelona in 2017, and I absolutely love it here.</span></p>
        <p class="mt-16 text-3xl md:text-4xl"><span class="line transition-colors">I enjoy hobbies that require a decent level of focus, such as hiking, weight training, skateboarding, and making music.</span></p>
    </section>
</main>

<footer class="flex flex-col items-center px-8 py-12">
    <p class="mb-80 text-3xl md:text-4xl font-handwriting text-secondary -rotate-2">And you? <br><a href="https://www.linkedin.com/in/razvantirboaca/" target="_blank" class="border-b">Let's chat on LinkedIn</a></p>
    <p class="text-sm text-primary">Made in sunny Barcelona 🇪🇸</p>
</footer>