---
layout: base
---


<main class="mx-1 md:mx-4 flex-auto bg-primary rounded-[24px] md:rounded-[40px]">
    <section class="mx-auto max-w-md md:max-w-lg lg:max-w-4xl px-8 py-24 md:py-40">
        <p class="text-3xl"><span class="text-primary">Hello, I'm Raz.</span> Since 2004, I've designed online products and services that have been used by millions of people.</p>
        <p class="mt-16 text-3xl"><span class="text-primary">Background.</span> I've worked on B2B and B2C products, leading or being part of a team in both small startups and tech unicorns, in fintech, insurtech, ecommerce, travel, data analytics, media, and advertising.</p>
        <p class="mt-8 text-3xl">My interests span a wide range of topics in tech, psychology, and systems thinking.</p>
        <p class="mt-16 text-3xl"><span class="text-primary">Today.</span> I'm currently responsible for the Research & Design org. Better product discovery, clearer communication, and superior execution are what I focus on.</p>
        <p class="mt-8 text-3xl">Enough high-level stuff, <a href="https://www.linkedin.com/in/razvantirboaca/" target="_blank" class="text-primary border-b">visit my Linkedin</a> for the details.</p>
        <p class="mt-16 text-3xl"><span class="text-primary">Personal.</span> Born and raised in Bucharest, I live with my family in Barcelona since 2017, and I absolutely love it here.</p>
        <p class="mt-8 text-3xl">I enjoy hobbies that require a decent level of focus—such as skateboarding, hiking, weight training or making music.</p>
    </section>
</main>