// Colors

$color-primary: #07A0C3;
$color-secondary: #F0C808;
$color-accent: #DD1C1A;
$color-yes: #5FBD2C;
$color-danger: #DD1C1A;

// gray
$color-background: white;
$color-gray-lighter: #F8F9FB;
$color-gray-light: #EEEFF2;
$color-gray: #ced2d4;
$color-dark: #101011;
$color-divider: #DAE0E3;
$color-border: #DAE0E3;

// text
$color-text-title: #101011;
$color-text-primary: #343b3c;
$color-text-secondary: #828486;
$color-text-hint: #9AA3AE;

// cases
$color-giftcard: #824191;


// Sizes

$container-width: 784px;
$container-width-xl: 960px;
$figure-width-fill: 1440px;
// breakpoints
$size-sm: 480px;
$size-md: 720px;
$size-lg: 960px;
$size-xl: 1200px;
$size-xxl: 1440px;


// Fonts

$font-primary: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif;
$font-secondary: 'Cardo', serif;